In [4]:
import pandas as pd
import matplotlib.pyplot as plt

import seaborn as sns
from datetime import datetime
import datetime

import ipywidgets

%matplotlib widget
import numpy as np

In [71]:
oil= pd.read_excel("Data/BrentEU.xls")

oil = oil[['Day','OilPrice']]
oil['Month'] = pd.to_datetime(oil["Day"]).dt.strftime('%Y-%m')
oil = oil.groupby('Month').median()


#oil = oil.set_index('Month')
oil.index = pd.to_datetime(oil.index)
#oil = oil.resample('1M').mean()
#df.Price = df.Price.str.replace(',', '')
oil.OilPrice = oil.OilPrice.astype(float)
oil = oil.loc['1997-10-01':'2022-09-01']
oil

            OilPrice
Month
1997-10-01     19.63
1997-11-01     19.14
1997-12-01     17.09
1998-01-01     15.29
1998-02-01     14.03
...              ...
2022-05-01    113.22
2022-06-01    122.21
2022-07-01    111.51
2022-08-01     99.68
2022-09-01     89.62

[300 rows x 1 columns]

In [72]:
energy_df = pd.read_csv("Data/EnergyIndex.csv")

energy_df =  energy_df.set_index('DATE')
energy_df.index = pd.to_datetime(energy_df.index,format='%Y/%m/%d')
energy_df = energy_df.loc['1997-10-01':'2022-09-01']
energy_df

                 Price
DATE
1997-10-01   53.429404
1997-11-01   51.295632
1997-12-01   46.373656
1998-01-01   42.128222
1998-02-01   40.329750
...                ...
2022-05-01  306.674979
2022-06-01  328.123480
2022-07-01  343.809997
2022-08-01  376.412083
2022-09-01  330.149586

[300 rows x 1 columns]

In [73]:
gas = pd.read_csv("Data/NaturalGas.csv")

gas =  gas.set_index('DATE')
gas.index = pd.to_datetime(gas.index,format='%Y/%m/%d')
gas = gas.loc['1997-10-01':'2022-09-01']
gas

            PNGASEUUSDM
DATE
1997-10-01     2.450000
1997-11-01     2.450000
1997-12-01     2.450000
1998-01-01     2.490000
1998-02-01     2.490000
...                 ...
2022-05-01    27.464166
2022-06-01    32.912607
2022-07-01    51.145913
2022-08-01    69.977239
2022-09-01    55.179127

[300 rows x 1 columns]

In [74]:
df =  pd.concat([energy_df,oil, gas], axis=1)
df = df.rename(columns={'Price': 'EnergyPrice', 'PNGASEUUSDM': 'GasPrice'})
df

            EnergyPrice  OilPrice   GasPrice
1997-10-01    53.429404     19.63   2.450000
1997-11-01    51.295632     19.14   2.450000
1997-12-01    46.373656     17.09   2.450000
1998-01-01    42.128222     15.29   2.490000
1998-02-01    40.329750     14.03   2.490000
...                 ...       ...        ...
2022-05-01   306.674979    113.22  27.464166
2022-06-01   328.123480    122.21  32.912607
2022-07-01   343.809997    111.51  51.145913
2022-08-01   376.412083     99.68  69.977239
2022-09-01   330.149586     89.62  55.179127

[300 rows x 3 columns]

In [75]:
cols = ['EnergyPrice','OilPrice', 'GasPrice']

In [76]:
sns.pairplot(data=df,
                  y_vars=['EnergyPrice'],
                  x_vars=['OilPrice','GasPrice'])

AttributeError: 'Canvas' object has no attribute '_dpi_ratio'

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous view', 'arrow-left', 'back'), ('Forward', 'Forward to next view', 'arrow-right', 'forward'), ('Pan', 'Left button pans, Right button zooms\nx/y fixes axis, CTRL fixes aspect', 'arrows', 'pan'), ('Zoom', 'Zoom to rectangle\nx/y fixes axis, CTRL fixes aspect', 'square-o', 'zoom'), ('Download', 'Download plot', 'floppy-o', 'save_figure')]))

In [77]:
df_corr = df[cols].corr()
df_corr[['EnergyPrice']].style.background_gradient(cmap='Reds')