In [4]:
import pandas as pd
import matplotlib.pyplot as plt

import seaborn as sns
from datetime import datetime
import datetime

import ipywidgets

%matplotlib widget
import numpy as np

In [33]:
oil= pd.read_excel("Data/BrentEU.xls")

oil = oil[['Day','OilPrice']]
oil['Month'] = pd.to_datetime(oil["Day"]).dt.strftime('%Y-%m')
oil = oil.groupby('Month').median()


#oil = oil.set_index('Month')
oil.index = pd.to_datetime(oil.index)
#oil = oil.resample('1M').mean()
#df.Price = df.Price.str.replace(',', '')
oil.OilPrice = oil.OilPrice.astype(float)
oil

            OilPrice
Month
1987-05-01    18.600
1987-06-01    18.780
1987-07-01    19.830
1987-08-01    18.850
1987-09-01    18.415
...              ...
2022-07-01   111.510
2022-08-01    99.680
2022-09-01    89.620
2022-10-01    93.300
2022-11-01    93.320

[427 rows x 1 columns]

In [14]:
energy_df = pd.read_csv("Data/EnergyIndex.csv")

energy_df =  energy_df.set_index('DATE')
energy_df.index = pd.to_datetime(energy_df.index,format='%Y/%m/%d')
energy_df = energy_df.loc['1997-10-01':'2022-09-01']
energy_df

                 Price
DATE
1997-10-01   53.429404
1997-11-01   51.295632
1997-12-01   46.373656
1998-01-01   42.128222
1998-02-01   40.329750
...                ...
2022-05-01  306.674979
2022-06-01  328.123480
2022-07-01  343.809997
2022-08-01  376.412083
2022-09-01  330.149586

[300 rows x 1 columns]

In [48]:
df =  pd.concat([energy_df,oil], axis=1)
df = df.rename(columns={'Price': 'EnergyPrice'})
df

cols = ['EnergyPrice','OilPrice']

In [49]:
sns.pairplot(data=df,
                  y_vars=['OilPrice'],
                  x_vars=['EnergyPrice'])

AttributeError: 'Canvas' object has no attribute '_dpi_ratio'

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous view', 'arrow-left', 'back'), ('Forward', 'Forward to next view', 'arrow-right', 'forward'), ('Pan', 'Left button pans, Right button zooms\nx/y fixes axis, CTRL fixes aspect', 'arrows', 'pan'), ('Zoom', 'Zoom to rectangle\nx/y fixes axis, CTRL fixes aspect', 'square-o', 'zoom'), ('Download', 'Download plot', 'floppy-o', 'save_figure')]))

In [50]:
df_corr = df[cols].corr()
df_corr[['EnergyPrice']].style.background_gradient(cmap='Blues')